<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>
</head>
<body>
<form action="/checkLogin" method="get">
    <p>用户名：<input type="text" name="username"></p>
    <p>密  码：<input type="text" name="password"></p>
    <p><input type="submit"></p>
</form>
</body>
</html>